* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    background: #f7f8f3;
}

.title-h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

hr {
    max-width: 580px;
    height: 2px;
    display: block;
    background-color: #eaedde;
    border: none;
    outline: none;
}

@media screen and(max-width: 768px) {
    body.\.lock {
        overflow: hidden;
    }
}